@model XandaPOS.Edmx.POS_PRODUCT_GROUP_MASTER

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>POS_PRODUCT_GROUP_MASTER</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.prod_grp_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prod_grp_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.prod_grp_type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prod_grp_type)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.prod_grp_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
